PORT=8083
URL_SOCKET=http://localhost:8083/
DB=mnh_db
USER_DB=root
DB_PASSWORD=
DB_HOST=localhost
DIALECT_DB=mysql
SECRETORPRIVATEKEY=ttRe6lDiftlWAfIvCjrFXsdsdsdsdsd2PlA85mLyGlRpSiGoS3B2tgAsoER12234OSfr67OFSJo1uGk4711aYeOc9sgwIsUKOwqZTqnT3diCtCBrxppte5FHI53VYAAnh5Xp
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=25
EMAIL_USER=d1934d5a412286
EMAIL_PASS=4f921fb46bb873
EMAIL_FROM=info@minhoo.com
GOOGLE_API_KEY=AIzaSyCDuv8SiA4S6HeGbAygqi8TmLhP6GX6TIA




